.block-tasklist-item > hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.block-tasklist-item > label {
    margin-bottom: 0;
}

.block-tasklist-additem {
    display: flex;
}

.block-tasklist-list {
    list-style: none;
    padding-left: 0;
    cursor: move;
}

.block-tasklist-item > label {
    cursor: move;
}

.block-tasklist-input-container {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: stretch;
}

.block-tasklist-additem-input-container > input.block-tasklist-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    display: block;
}

.block-tasklist-additem > button.block-tasklist-input-button {
    align-items: center;
    display: inline-flex;
    margin-left: -1px;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.block-tasklist-item-complete > label {
    text-decoration: line-through;
}

.block-tasklist-item-icons {
    float: right;
}

.block-tasklist-item-delete,
.block-tasklist-item-edit,
.block-tasklist-item-complete {
    background: none;
    border: none;
}

li.block-tasklist-item > input.block-tasklist-item-edit-input {
    width: 65%;
}

.block-tasklist-no-items {
    text-align: center;
}
